<!DOCTYPE html>
<html lang="en">

<head>
    <title>Refrase</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <HeadOutlet/>
    <style>
        html {
            background-color: #333333;
            color: springgreen;
            font-family: Roboto, monospace;
            font-size: 15pt;
        }

        a {
            color:  springgreen;
        }

        a:visited {
            color: forestgreen;
        }
    </style>
    <script>
        setInterval(refresh, 1000)

        async function refresh() {
            if (await backendOnline()) {
                document.title = "Refrase"
                location.reload()
            } else {
                document.title = "Refrase - offline"
            }
        }

        async function backendOnline() {
            try {
                const response = await fetch("/api/health")
                return response.status === 200
            } catch {
                return false
            }
        }
    </script>
</head>

<body>
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData"/>
        <FocusOnNavigate RouteData="routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <h1>404</h1>
    </NotFound>
</Router>
<script src="_framework/blazor.web.js"></script>
</body>

</html>
